
@include font-face(Muller, "../fonts/Muller/Muller_400", 400, normal, eot woff2 woff svg ttf)
@include font-face(Muller, "../fonts/Muller/Muller_500", 500, normal, eot woff2 woff svg ttf)
@include font-face(Muller, "../fonts/Muller/Muller_600", bold, normal, eot woff2 woff svg ttf)
$font-default: 'Muller', sans-serif

html
    -webkit-font-smoothing: antialiased
body
    font-family: $font-default
    font-size: 14px
    line-height: 1.4
    color: $color-black


