
@function str-replace($string, $search, $replace: "")
    $index: str-index($string, $search)
    @if $index
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)
    @return $string

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg)
    $src: null
    $extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"))
    $formats: (otf: "opentype", ttf: "truetype")
    @each $ext in $exts
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext)
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext)
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma)
    @font-face
        font-family: quote($name)
        font-style: $style
        font-weight: $weight
        src: $src

// GRID : begin
// main parent container (glass, container)
@mixin glass
    width: 100%
    max-width: 1256px
    margin-left: auto
    margin-right: auto
    padding-left: 20px
    padding-right: 20px
    position: relative
// @include breakpoint($tablet)
//   padding-left: 15px
//   padding-right: 15px
// @include breakpoint($mobile)
//   padding-left: 20px
//   padding-right: 20px
// GRID : end

// ICONS
@mixin icon
    display: block
    background-position: center center
    background-repeat: no-repeat
    background-size: contain

// FORM inputs
@mixin placeholder
    &::-webkit-input-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &:focus::-webkit-input-placeholder
        color: transparent
    &:focus::-moz-placeholder
        color: transparent
    &:focus:-moz-placeholder
        color: transparent
    &:focus:-ms-input-placeholder
        color: transparent
// text input default
@mixin default-text-input
    //user-select: none
    width: 100%
    outline: none
    border: none
    padding: 15px 16px 13px
    margin: 0
    display: block
    font-weight: normal
    font-style: normal
    font-size: 16px
    line-height: normal
    font-family: $font-default
    color: rgba($color-black, 0.7)
    text-align: left
    background: rgba($color-blue,0.1)
    border-radius: 4px
    transition: all 0.3s ease
    // @include breakpoint($mobile)
    @include placeholder
        color: rgba($color-black, 0.7)
        transition: all 0.3s ease
    &:focus
        outline: none
        color: $color-black
        transition: all 0.3s ease
// textarea default
@mixin default-textarea
    user-select: none
    width: 100%
    outline: none
    border: none
    padding: 17px 20px 16px
    height: 160px
    min-height: 65px
    margin: 0
    display: block
    font-weight: normal
    font-style: normal
    font-size: 16px
    line-height: normal
    font-family: $font-default
    color: rgba($color-black, 0.7)
    text-align: left
    background: rgba($color-blue,0.1)
    border-radius: 4px
    transition: color 0.3s ease
    resize: vertical
    -webkit-appearance: none
    // @include breakpoint($tablet)
    // @include breakpoint($mobile)
    @include placeholder
        color: rgba($color-black, 0.7)
        transition: all 0.3s ease
    &:focus
        outline: none
        color: $color-black
        transition: all 0.3s ease
