.width-adaptive {
    padding: 0 theme("spacing.6");
    @screen lg {
        padding: 0;
    }
}

.container-fluid {
  width: 100%;

  @screen xl {
    @apply .max-w-7xl;
  }
}

// --------------------------------

// Media Wrapper - make iframe responsive + prevent img jump when page loads

// --------------------------------

$media-wrapper-aspect-ratios: ((4 3), (1 1)) !default;

.media-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; // 16:9 aspect ratio

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@each $aspect-ratio in $media-wrapper-aspect-ratios {
    $aspect-ratio-x: nth($aspect-ratio, 1);
    $aspect-ratio-y: nth($aspect-ratio, 2);

    .media-wrapper--#{$aspect-ratio-x}\:#{$aspect-ratio-y} {
        padding-bottom: calc((#{$aspect-ratio-y} / #{$aspect-ratio-x}) * 100%);
    }
}

.animate-spin {
    animation: spin 1s linear infinite !important;

    @keyframes spin {
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg)
        }
    }
}