.modal-auth-reg
    //position: fixed
    //left: 0
    //right: 0
    //top: 0
    //bottom: 0
    width: 100%
    //height: 100vh
    //z-index: 9999
    //display: none
    &--active
        display: block
    &__overlay
        width: 100%
        height: 100vh
        background: rgba($color-black-2,0.5)
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        z-index: 9998
    &__container
        z-index: 9999
        //padding: 0 0 122px
        border-radius: 8px
        //top: 100px
        //left: 50%
        //transform: translate3d(-50%,0,0)
        position: relative
        width: 100%
        max-width: 468px
        display: flex
        justify-content: flex-start
        align-items: center
        background: $color-white
        flex-direction: column
    &__nav
        display: flex
        justify-content: space-between
        align-items: flex-start
        width: 100%
    &__nav-item
        color: $color-white
        background: $color-blue
        font: normal 15px/1.1 $font-default
        padding: 16px 0
        width: 50%
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        //@include hover
        &--active
            background: $color-white
            color: $color-black
            &:hover
                opacity: 1
        &:first-child
            border-radius: 8px 0 0 0
        &:last-child
            border-radius: 0 8px 0 0
    //&__content
    &__content-item
        display: none
        &--active
            display: block
    &__title
        font: bold 40px/1.1 $font-default
        color: $color-black
        //margin: 60px 0 30px
        margin: 30px 0 10px
        width: 100%
        text-align: center
    &__form
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        width: 100%
        max-width: 338px
        margin-bottom: 30px
    &__form-row
        margin: 0 0 15px
        width: 100%
        text-align: center
        &--2-col
            display: flex
            justify-content: space-between
            align-items: flex-start
            & > *
                &:first-child
                    width: 65.088757396449704%
                &:last-child
                    width: 30.473372781065089%
        &:last-child
            margin-bottom: 0
    &__input-text
        @include default-text-input
    &__select-wrapper
        position: relative
        height: 44px
        &:before
            content: ''
            @extend .icon-arrow-black-small-bottom
            position: absolute
            right: 12px
            top: 50%
            transform: translate3d(0,-50%,0)
    &__select
        user-select: none
        border-radius: 4px
        background: rgba($color-blue,0.1)
        padding-top: 15px
        padding-right: 16px
        padding-bottom: 13px
        padding-left: 16px
        margin: 0
        outline: none
        border: none
        font: 400 16px/1 $font-default
        color: rgba($color-black,0.7)
        position: relative
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        width: 100%
    &__select-option
        font: 400 16px/1 $font-default
        color: rgba($color-black,0.7)
    &__btn
        @include btn-blue-big
    &__text
        font: 400 12px/1 $font-default
        color: rgba($color-black,0.7)
    &__text-link
        color: $color-blue
        //@include hover
        //&--big
    &__link
        font: 400 15px/1 $font-default
        color: $color-blue
        //@include hover
