@mixin btn-blue-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-white
    letter-spacing: 0.03em
    height: auto
    background: $color-blue
    border: none
    line-height: 1
    padding: 15px 16px 13px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 23.5px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        background: $color-blue-2
        transition: all 0.2s ease
@mixin btn-blue-empty-bg-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-blue
    letter-spacing: 0.03em
    height: auto
    background: $color-white
    border: 1px solid $color-blue
    line-height: 1
    padding: 15px 16px 13px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 23.5px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        color: $color-blue-2
        border-color: $color-blue-2
        transition: all 0.2s ease
@mixin btn-blue-big
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 20px
    text-transform: none
    color: $color-white
    letter-spacing: 0.03em
    height: auto
    background: $color-blue
    border: none
    line-height: 1
    padding: 18px 44px 18px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 28px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        background: $color-blue-2
        transition: all 0.2s ease
@mixin btn-white-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-blue
    letter-spacing: 0.03em
    height: auto
    background: $color-white
    border: none
    line-height: 1
    padding: 16px 20px 16px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 23.5px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        background: rgba($color-white,0.9)
        transition: all 0.2s ease
@mixin btn-white-big($color,$borderColor,$colorHover,$borderColorHover)
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 20px
    text-transform: none
    color: $color
    letter-spacing: 0.03em
    height: auto
    background: $color-white
    border: 1px solid $borderColor
    line-height: 1
    padding: 18px 44px 18px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 28px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        border-color: $borderColorHover
        color: $colorHover
        transition: all 0.2s ease
    &:focus
        outline: none
@mixin btn-black-big
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 20px
    text-transform: none
    color: $color-white
    letter-spacing: 0.03em
    height: auto
    background: $color-black
    border: none
    line-height: 1
    padding: 18px 44px 18px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 28px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        background: $color-gray
        transition: all 0.2s ease
@mixin btn-black-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-white
    letter-spacing: 0.03em
    height: auto
    background: $color-black
    border: none
    line-height: 1
    padding: 16px 44px 16px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 28px
    text-align: center
    width: 100%
    white-space: nowrap
    text-align: center
    transition: all 0.2s ease
    &:hover
        background: $color-gray
        transition: all 0.2s ease
@mixin btn-green-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-white
    letter-spacing: 0.03em
    height: auto
    background: $color-green
    border: none
    line-height: 1
    padding: 16px 20px 16px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 23.5px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        background: rgba($color-green,0.9)
        transition: all 0.2s ease
@mixin btn-green-big
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 20px
    text-transform: none
    color: $color-white
    letter-spacing: 0.03em
    height: auto
    background: $color-green
    border: none
    line-height: 1
    padding: 18px 44px 18px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 28px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        background: rgba($color-green,0.9)
        transition: all 0.2s ease
@mixin btn-orange-empty-bg-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-orange
    letter-spacing: 0.03em
    height: auto
    background: color-white-2
    border: 1px solid $color-orange
    line-height: 1
    padding: 16px 20px 16px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 23.5px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        border: 1px solid rgba($color-orange,0.9)
        color: rgba($color-orange,0.9)
        transition: all 0.2s ease
@mixin btn-orange-bg-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-white
    letter-spacing: 0.03em
    height: auto
    background: $color-orange
    border: none
    line-height: 1
    padding: 16px 20px 16px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 23.5px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        background: rgba($color-orange,0.9)
        transition: all 0.2s ease
@mixin btn-purple-empty-bg-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-purple
    letter-spacing: 0.03em
    height: auto
    background: $color-white
    border: 1px solid $color-purple
    line-height: 1
    padding: 16px 20px 16px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 23.5px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        border-color: rgba($color-purple,0.9)
        color: rgba($color-purple,0.9)
        transition: all 0.2s ease
@mixin btn-purple-bg-small
    user-select: none
    display: inline-block
    font-family: $font-default
    font-weight: bold
    font-size: 15px
    text-transform: none
    color: $color-white
    letter-spacing: 0.03em
    height: auto
    background: $color-purple
    border: none
    line-height: 1
    padding: 16px 20px 16px
    cursor: pointer
    outline: none
    text-decoration: none
    border-radius: 23.5px
    text-align: center
    width: 100%
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
        background: rgba($color-purple,0.9)
        transition: all 0.2s ease

.btn-primary-lg
    @include btn-blue-big

.btn-primary-sm
    @include btn-blue-small

.btn-white-lg
    @include btn-white-big($color-black,$color-white,$color-gray,$color-gray)

.btn-white-sm
    @include btn-white-small

.btn-black-lg
    @include btn-black-big

.btn-black-sm
    @include btn-black-small

.btn-green-sm
    @include btn-green-small

.btn-green-lg
    @include btn-green-big
    
.btn-orange-empty-sm
    @include btn-orange-empty-bg-small