.content-header
    background: $color-white
    box-shadow: 0px 4px 10px rgba($color-black-2, 0.05)
    border-radius: 8px
    width: 100%
    margin: 0 0 20px
    &:last-child
        margin-bottom: 0
    //&--my-lessons
    //&--testing
    //&--online-classes
    &__container
        @include glass
        padding-left: 16px
        padding-right: 30px
        padding-top: 12px
        padding-bottom: 11px
        .content-header--online-classes &
            padding-top: 0
            padding-bottom: 0
        .content-header--lesson &
            padding-left: 30px
    &__row
        &--diff-directions
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
            margin: calc(-1 * 5px)
    &__col
        // margin: 5px
    &__btn
        &--add
            @include btn-white-big($color-blue,$color-blue,$color-blue-4,$color-blue-4)
            display: flex
            justify-content: flex-start
            align-items: center
            font-size: 15px
            padding: 16px 20px 16px
            &:before
                content: ''
                @extend .icon-plus
                margin: 0 12.5px 0 0
            @screen sm
                padding: 15.5px 30px 15.5px 32.5px
        &--back
            @include btn-white-big($color-blue,$color-blue,$color-blue-4,$color-blue-4)
            display: flex
            justify-content: flex-start
            align-items: center
            font-size: 15px
            padding: 15.5px 20px 15.5px 20px
            &:before
                content: ''
                @extend .icon-arrow-blue-big-left
                margin: 0 12.5px 0 0
                .content-header--lesson &
                    margin-right: 10px
    &__link
        font: 400 16px/1.5 $font-default
        color: $color-black-2
        display: flex
        justify-content: flex-start
        align-items: center
        text-decoration: none
        //@include hover
        &--folder
            &:before
                content: ''
                @extend .icon-folder
                margin: 0 12px 0 0
                transform: translate3d(0, -1px, 0)
    &__list
        display: flex
        justify-content: flex-start
        align-items: center
    &__item
        height: 69px
        display: flex
        justify-content: center
        align-items: center
        position: relative
        font: bold 15px/1 $font-default
        color: $color-black-2
        text-decoration: none
        padding: 0 15px
        // margin: 0 16px 0 0
        overflow: hidden
        transition: all 0.2s ease
        &:after
            content: ''
            width: calc(100% - 28px)
            height: 3px
            background: $color-blue
            display: block
            position: absolute
            left: 14px
            bottom: 0
            transform: translate3d(0,3px,0)
            transition: all 0.2s ease
        // &:last-child
          // margin-right: 0
        &--active,
        &:hover
            color: $color-blue
            &:after
                transform: translate3d(0,0,0)
    &__item-numbers
        width: 14px
        height: 14px
        border-radius: 7px
        background: $color-red
        display: flex
        justify-content: center
        align-items: center
        letter-spacing: -0.05em
        font: 400 9px/1 $font-default
        color: $color-white
        padding: 1px 0 0 0
        position: absolute
        right: 0
        top: 12px
    &__tooltips-wrapper
        display: flex
        justify-content: flex-end
        align-items: center
    &__tooltip-item
        position: relative
        margin: 0 33px 0 0
        &:last-child
            margin-right: 0
        &--tall
            & .content-header__tooltip-title
                height: 69px
                display: flex
                justify-content: center
                align-items: center
                position: relative
                font: bold 15px/1 $font-default
                color: $color-black-2
                text-decoration: none
                padding: 0 15px
                overflow: hidden
                transition: all 0.2s ease
                &:before
                    content: ''
                    width: calc(100% - 28px)
                    height: 3px
                    background: $color-blue
                    display: block
                    position: absolute
                    left: 14px
                    bottom: 3px
                    transform: translate3d(0,3px,0)
                    transition: all 0.2s ease
            & .content-header__tooltip-content
                top: 60px
            & .content-header__tooltip-content-item
                font: bold 16px/1.5 "Muller", sans-serif
    &__tooltip-title
        font: 400 16px/24px $font-default
        color: $color-black-2
        letter-spacing: 0.02em
        position: relative
        display: flex
        justify-content: flex-start
        align-items: center
        cursor: pointer
        user-select: none
        //@include hover
        &:after
            content: ''
            @extend .icon-arrow-black-small-bottom-2
            margin: 0 0 0 12px
        .content-header__tooltip-item--active &
            &:after
                @extend .icon-arrow-black-small-top-2
    &__tooltip-content
        background: $color-white
        border-radius: 4px
        box-shadow: -1px 2px 10px rgba($color-black-2, 0.15)
        padding: 15px 34px 15px 15px
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        position: absolute
        left: 0
        top: 38px
        // z-index: -1
        display: none
        // display: flex
        z-index: 1
        .content-header__tooltip-item--active &
            display: flex
            z-index: 1
        &:before
            content: ''
            z-index: 2
            display: block
            width: 0
            height: 0
            border-style: solid
            border-width: 0 8.5px 9px 8.5px
            border-color: transparent transparent $color-white transparent
            position: absolute
            left: 31.31px
            top: -9px
            -webkit-filter: drop-shadow(-1px 2px 10px rgba(0, 0, 0, 0.15))
            filter: drop-shadow(-1px 2px 10px rgba(0, 0, 0, 0.15))
    &__tooltip-content-item
        font: 400 16px/1.5 $font-default
        color: $color-black-2
        letter-spacing: 0.02em
        margin: 0 0 10px
        text-decoration: none
        white-space: nowrap
        &:last-child
            margin-bottom: 0
        &--active,
        &:hover
            color: $color-blue

.content
  background-color: $color-white-2
  position: relative
  &:after
    content: ''
    display: block
    background-image: url('../img/bgs/bg-6.png')
    background-repeat: no-repeat
    background-repeat: center center
    background-size: contain
    width: 360px
    height: 369px
    position: absolute
    right: 0
    bottom: 0
    z-index: 1
  &__container
    @include glass
    padding-top: 20px
    padding-bottom: 166px
    position: relative
    z-index: 2
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    // margin: calc(-1 * 20px)
  &__col
    // margin: 20px
    &--left
      // max-width: 16.5rem
      min-width: 14.5rem
      flex-basis: 14.5rem
      flex-grow: 1
      margin: 0
      @screen sm
        margin: 0 20px 0 0
      @screen lg
        // max-width: 20rem
        min-width: 18rem
        flex-basis: 18rem
    &--right
      // width: 74.588%
      flex-basis: 0
      flex-grow: 999
      min-width: calc(65% - 20px)
  &__inner-wrapper
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    // flex-wrap: wrap
    // margin: calc(-1 * 20px)
    @screen xl
        flex-direction: row
  &__inner-wrapper-col
    // margin: 20px
    &--left
      margin: 0 20px 0 0
      width: 100%
      // flex-basis: 0
      // flex-grow: 999
      // min-width: calc(55% - (20px * 2))
      // margin-right: 0
    &--right
      max-width: 18rem
      // min-width: 18rem
      // flex-basis: 18rem
      // flex-grow: 1
