
.events-calendar {
  & .flatpickr-calendar {
    // width: 100%;
    width: 289px;

    & .flatpickr-monthDropdown-months {
      pointer-events: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }

    & .flatpickr-rContainer {
      width: 100%;
    }

    & .flatpickr-days {
      width: 100%;
      padding-bottom: 10px;
    }

    & .dayContainer {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }

    & .flatpickr-months {
      padding: 10px 0;

      & .flatpickr-prev-month, & .flatpickr-next-month {
        top: 10px;
      }
    }

    & .flatpickr-day {
      @apply rounded-lg;
      // max-width: 32px;
      // height: 32px;
      // line-height: 32px;
      &.today {
        border: none;
        background: #CFD8F5;
        color: #644BEC;
      }
      &.selected {
        background: #48C95F;
        color: #fff;
        border-color: #48C95F;
      }
    }
  }
}