.feedback
  background-color: $color-blue-3
  background-image: url('../img/bgs/bg-5.png')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  padding: 60px 0
  @screen md
    padding: 120px 0
  &__container
    @include glass
    max-width: 846px
  &__title
    font: bold 24px/1 $font-default
    color: $color-black
    text-align: center
    margin: 0 0 24px
    @screen sm
      font: bold 40px/1 $font-default
  &__descr
    font: 400 16px/1 $font-default
    color: rgba($color-black,0.7)
    text-align: center
    margin: 0 0 46px
    @screen sm
      font: 400 24px/1 $font-default
  &__form
    width: 100%
  &__form-row
    margin: 0 0 20px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    &:last-child
      margin-bottom: 0
  &__textarea
    @include default-textarea
  &__form-row
    &--2-col
      display: flex
      justify-content: flex-start
      align-items: flex-start
      flex-direction: column
      @screen sm
        flex-direction: row
        justify-content: space-between
        & > *
          &:first-child
            width: 50%
          &:last-child
            width: 50%
  &__input-text
    @include default-text-input
  &__btn
    @include btn-black-big
    max-width: 310px
  &__text
    font: 400 12px/12px $font-default
    color: rgba($color-black-2, 0.9)
    text-align: center
    display: flex
    justify-content: center
    align-items: center
  &__text-link
    color: $color-blue
    text-decoration: underline
    // @include hover
