
.form-control-default
  @include default-text-input

.form-checkbox
  &--unselect
    &:checked
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='3' stroke='white' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cline x1='5' y1='12' x2='19' y2='12' /%3E%3C/svg%3E")
      border-color: transparent
      background-color: currentColor
      background-size: 100% 100%
      background-position: center
      background-repeat: no-repeat