.header
  padding: 30px 0
  position: relative
  z-index: 2
  &--lite
    background: $color-blue
  &--inner
    background: $color-white
    box-shadow: 0px 4px 10px rgba($color-black-2, 0.05)
  &__container
    @include glass
    display: flex
    justify-content: space-between
    align-items: center
  &__col
    &--left
      display: flex
      justify-content: flex-start
      align-items: center
    &--right
      display: flex
      justify-content: flex-end
      align-items: center
  &__logo
    @extend .icon-logo-color
    //@include hover
    .header--lite &
      @extend .icon-logo-white
      width: 99px
      height: 16px
      @screen sm
        width: 127px
        height: 20.51px
  &__reminder
    display: none
    margin: 0 0 0 30px
    @screen lg
        display: block
  &__reminder-item
    font: 400 12px/1.333 $font-default
    color: $color-black-2
    background: $color-white-2
    padding: 14px 38px 11px 41px
    border-radius: 80px
    position: relative
    // transform: translate3d(0,)
    &:before
      content: ''
      @extend .icon-bell
      position: absolute
      left: 15.33px
      top: 50%
      transform: translate3d(0,-50%,0)
    //&--active
    &--urgent
      background: rgba($color-red-2,0.6)
      color: $color-white
      &:before
        @extend .icon-bell-2-active
        width: 14px
        height: 12.785388127853881px
  &__btn-back
    @include btn-white-small
    margin: 0 0 0 10px
    padding: 10px 10px 10px 25px
    font-size: 13px
    letter-spacing: 0.01em
    width: auto
    position: relative
    @screen sm
      margin: 0 0 0 25px
      padding: 16px 20px 16px 45px
      font-size: 15px
      letter-spacing: 0.03em
    @screen lg
      margin: 0 0 0 50px
    &:before
      content: ''
      @extend .icon-arrow-blue-big-left
      position: absolute
      left: 10px
      top: 50%
      width: 10px
      height: 10px
      transform: translate3d(0,-50%,0)
      @screen sm
        left: 20px
        width: 15px
        height: 15px
  &__text
    text-decoration: none
    font: bold 22px/1 $font-default
    color: $color-black
    white-space: nowrap
    margin: 0 25px 0 0
    @screen lg
      margin: 0 32px 0 0
    //@include hover
    .header--lite &
      display: none
      color: $color-white
      @screen md
        display: block
  &__btn
    @include btn-blue-small
    max-width: 153px
    margin: 0 32px 0 0
  &__btn-number-of-paid
    text-decoration: none
    font: 400 12px/16px $font-default
    color: $color-black-2
    padding: 11px 20px
    border: 1px solid $color-blue-7
    position: relative
    display: flex
    justify-content: center
    align-items: center
    border-radius: 80px
    margin: 0 30px 0 0
    position: relative
    //&--warning
    &--red
      border-color: $color-red
    &:before
      content: ''
      @extend .icon-play
      margin: 0 11px 0 0
    &:hover
      color: $color-blue
      transition: all 0.2s ease
  &__btn-text-bold
    margin: 0 0 0 5px
    font: bold 12px/16px $font-default
    color: $color-black-2
    .header__btn-number-of-paid--warning &
      color: $color-red
  &__btn-number-of-paid-warning
    width: 14px
    height: 14px
    border-radius: 7px
    background: $color-red
    display: none
    justify-content: center
    align-items: center
    letter-spacing: -0.05em
    font: bold 9px/1 $font-default
    color: $color-white
    padding: 1px 0 0 0
    position: absolute
    right: 6px
    top: 3px
    .header__btn-number-of-paid--warning &
      display: flex
  &__link
    text-decoration: none
    font: 400 16px/1 $font-default
    color: $color-black
    letter-spacing: 0.02em
    display: flex
    justify-content: flex-start
    align-items: center
    transition: all 0.2s ease
    &:hover
      color: $color-blue
    &:before
      content: ''
      @extend .icon-enter-black
      margin: 0 10px 0 0
    &:hover:before
      @extend .icon-enter-blue
    .header--lite &
      display: none
      color: $color-white
      //@include hover
      &:before
        @extend .icon-enter-white
      &:hover:before
        @extend .icon-enter-white
      @screen xs
        display: flex
  &__link-text
    padding-top: 3px
  &__user
    text-decoration: none
    margin: 0 10px 0 0
    display: flex
    justify-content: flex-start
    align-items: center
  &__user-avatar
    display: block
    width: 32px
    height: 32px
    border-radius: 16px
    margin: 0 10px 0 0
  &__user-text
    display: none
    padding: 9px
    font: 500 14px/1 $font-default
    letter-spacing: 0.02em
    color: $color-blue
    border-radius: 8px
    background: $color-white-2
    @screen sm
      display: block
  &__exit
    text-decoration: none
    @extend .icon-exit

#m-header
  @apply bg-white z-20

.m-header--fixed
  @apply fixed top-0 inset-x-0 transition duration-150 ease-in-out

.m-header--scroll
  -webkit-box-shadow: 0 2px 12px 0 rgba(31,45,72,.15)
  box-shadow: 0 2px 12px 0 rgba(31,45,72,.15)

.header-placeholder
  padding-top: 83px
  @screen sm
    padding-top: 115px