.intro {
    background-image: url(../img/bgs/bg-cover-intro.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    &__form {
        @apply flex flex-col w-full items-center justify-center;

        &__control {
            @apply w-full max-w-sm;
            @screen sm {
                width: 16.875em;
            }
            @screen lg {
                width: 26.5em;
            }
        }

        @screen sm {
            width: auto;
            flex-direction: row;
        }
    }
}

.simple-test {
    &__cover-left, &__cover-right, &__cover-line {
        position: absolute;
        display: none;

        @screen lg {
            display: block;
        }
    }

    &__cover-left {
        bottom: 0;
        left: 0;
        width: 20%;
        // width: 363px;
        // height: 735px;
        height: 100%;
        background-image: url('/img/home/urban-cover-left.png');
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover;

        // @screen sm {
        //      width: 20%;
        // }

        // @screen md {
        //      width: 10%;
        // }

        // @screen lg {
        //      width: 20%;
        // }

        @screen xl {
             width: 363px;
        }
    }

    &__cover-right {
        bottom: 8px;
        right: 0;
        // width: 372px;
        width: 20%;
        // height: 500px;
        height: 100%;
        background-image: url('/img/home/urban-cover-right.png');
        background-position: left bottom;
        background-repeat: no-repeat;
        // background-position: left top;
        // background-repeat: no-repeat;
        background-size: cover;

        @screen xl {
             width: 372px;
             bottom: 16px;
        }
    }

    &__cover-line {
        @apply transform -translate-x-1/2;
        display: none;
        width: 901px;
        bottom: 0;
        left: 50%;
        @screen lg {
             display: block;
        }
    }
}

.subscribe {
    &__cover-left, &__cover-right {
        position: absolute;
    }

    &__cover-left {
        bottom: 0;
        left: 0;
        width: 20%;
        height: 100%;
        background-size: cover;

        & > svg {
            position: absolute;
            top: 0;
            height: 100%;
            right: -16rem;
            -webkit-transform: rotate(-24deg);
            -ms-transform: rotate(-24deg);
            transform: rotate(-24deg);
        }
    }

    &__cover-right {
        bottom: 0;
        right: 0;
        width: 20%;
        height: 100%;

        & > svg {
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
        }
    }
}

.section-heading {
    @apply font-bold text-2xl mb-12 text-center;

    @screen sm {
        @apply text-3xl;
    }

    @screen lg {
        @apply text-4xl;
    }
}

.features-grid {
    --col-width: 20.714em;
    display: grid;
    grid-gap: 1rem;
    align-content: start;
    grid-template-columns: repeat(1, var(--col-width));
    // justify-items: center;
    justify-content: center;

    @screen md {
        grid-template-columns: repeat(2, var(--col-width));
    }

    @screen xl {
        grid-template-columns: repeat(4, var(--col-width));
    }
}

// .pricing-items {
//   @apply flex justify-center items-center;
//   flex-direction: column;

//   @screen md {
//     flex-direction: row;
//     align-items: start;
//   }
// }

.pricing-item {
    // flex-grow: 1;
    // flex-basis: 0;
    flex: 1 1 auto;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 6px;
        border-radius: 8px 8px 0 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    &--green {
        &::after {
            background: #48C95F;
        }
    }

    &--blue {
        &::after {
            background: #644BEC;
        }
    }

    &--purple {
        &::after {
            background: #AF48C9;
        }
    }

    @screen md {
        @apply w-1/3;
    }
}
