
/* Cluster | Align fixed/content sized elements in a row */
.cluster-l {
    /* ↓ Set the space as a variable */
    --space: 1rem;
}
.cluster-l > * {
    /* ↓ Establish the flex context and allow wrapping */
    display: flex;
    flex-wrap: wrap;
    /* ↓ Horizontal alignment */
    justify-content: flex-start;
    /* ↓ Vertical alignment */
    align-items: center;
    /* ↓ Negate the margin to follow
    (`* -1` makes the value negative) */
    margin: calc(var(--space) / 2 * -1);
}
.cluster-l > * > * {
    /* ↓ Half margins meet to make the whole space value together */
    margin: calc(var(--space) / 2);
}

/* Stack | Stack element vertically with a gap. */
.stack {
    --stack-space: theme('spacing.4');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * + * {
    margin-top: var(--stack-space);
}

/* Variants */
.stack-xs,
.stack-xs + * {
    --stack-space: theme('spacing.1');
}

.stack-sm,
.stack-sm + * {
    --stack-space: theme('spacing.2');
}

.stack-lg,
.stack-lg + * {
    --stack-space: theme('spacing.8');
}

/* Switcher | Quantum layout */
/* .switcher-l {
    --threshold: 30rem;
    --space: 1rem;
} */
.switcher-l {
    --threshold: 30rem;
    --space: 1rem;
    /* ↓ Establish the flex context and allow wrapping */
    display: flex;
    flex-wrap: wrap;
    /* ↓ Negate the margin to follow
    (`* -1` makes the value negative) */
    margin: calc((var(--space) / 2) * -1);
}
.switcher-l > * {
    /* ↓ Allow growing, to take up available space */
    flex-grow: 1;
    /* ↓ Create the container-based breakpoint
    (returns a negative or (large) positive value */
    flex-basis: calc((var(--threshold) - (100% - var(--space))) * 999);
    /* ↓ Half margins meet to make the whole space value together */
    margin: calc(var(--space) / 2);
}

/* Managing proportions
.switcher > * > :nth-child(2) {
    flex-grow: 2;
}*/

/* Quantity threshold */
.switcher-l > * > :nth-last-child(n+5),
.switcher-l > * > :nth-last-child(n+5) ~ * {
    /* Switch to a vertical configuration if
    there are more than 5 child elements */
    flex-basis: 100%;
}

/* Cover layout */
.cover-l {
    --space: var(--space-sm);
    /* ↓ Establish a columnal flex context */
    display: flex;
    flex-direction: column;
    /* ↓ Set a minimum height to match the viewport height
    (any minimum would be fine) */
    min-height: 100vh;
    /* Set a padding value */
    padding: var(--space);
}
.cover-l > * {
    /* ↓ Give each child a top and bottom margin */
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.cover-l > :first-child:not(h1) {
    /* ↓ Remove the top margin from the first-child
    if it _doesn't_ match the centered element */
    margin-top: 0;
}
.cover-l > :last-child:not(h1) {
    /* ↓ Remove the bottom margin from the last-child
    if it _doesn't_ match the centered element */
    margin-bottom: 0;
}
.cover-l > h1 {
    /* ↓ Center the centered element (h1 here)
    in the available vertical space */
    margin-top: auto;
    margin-bottom: auto;
}

/* Center layout */
.center-l {
    /* ↓ Remove padding from the width calculation */
    box-sizing: content-box;
    /* ↓ The maximum width is the maximum measure */
    max-width: var(--max-width-lg);
    /* ↓ Only affect horizontal margins */
    margin-left: auto;
    margin-right: auto;
    /* ↓ Apply the minimum horizontal space */
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
}

/* Grid layout */
.grid-l {
    --measure: 50rem;
    /* ↓ Establish a grid context */
    display: grid;
    /* ↓ Set a gap between grid items equal to the
    first point on the modular scale */
    grid-gap: 1rem;
    align-content: start;
    grid-template-columns: 100%;
}

.grid-l.above-min {
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--measure) / 3), 1fr));
}

/* Reel layout | For scrollable horizontal content */
.reel {
    /* ↓ Custom properties for ease of adjustment */
    --space: 1rem;
    --color-light: #fff;
    --color-dark: #000;
    --reel-height: auto;
    --item-width: 25ch;
    display: flex;
    height: var(--reel-height);
    /* ↓ Overflow */
    overflow-x: auto;
    overflow-y: hidden;
    /* ↓ For Firefox */
    scrollbar-color: var(--color-light) var(--color-dark);
}
reel-l::-webkit-scrollbar {
    /*
    ↓ Instead, you could make the scrollbar height
    a variable too. This is left as an exercise
    (be mindful of the linear-gradient!)
    */
    height: 1rem;
}
reel-l::-webkit-scrollbar-track {
    background-color: var(--color-dark);
}
reel-l::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
/* ↓ Linear gradient ‘insets’ the white thumb within the black bar */
    background-image: linear-gradient(var(--color-dark) 0, var(--color-dark) 0.25rem, var(--color-light));
}
.reel > * {
    /*
    ↓ Just a `width` wouldn’t work because
    `flex-shrink: 1` (default) still applies
    */
    flex: 0 0 var(--item-width);
}
reel-l > img {
    /* ↓ Reset for images */
    height: 100%;
    flex-basis: auto;
    width: auto;
}
.reel > * + * {
    margin-left: var(--space);
}
.reel.overflowing {
    /* ↓ Only apply if there is a scrollbar (see the JavaScript) */
    padding-bottom: var(--space);
}
/* ↓ Hide scrollbar with `no-bar` class */
.reel.no-bar {
    scrollbar-width: none;
}
.reel.no-bar::-webkit-scrollbar {
    display: none;
}
