
.nav-dropdown {
  @apply border-t border-gray-100;
  background: $color-white;
  box-shadow: 0px 4px 10px rgba($color-black-2, 0.05);
  z-index: 2;

  &__btn {
    @apply inline-flex justify-between w-full px-6 py-6 bg-white text-base leading-5 font-medium text-primary outline-none;
    font: 400 20px/24px "Muller", sans-serif;
  }

  &__list {
    @apply origin-top-left absolute mt-2 w-72 rounded-md shadow-lg;
    left: 1rem;

    &__item {
      @apply block relative px-4 pl-12 py-2 text-sm leading-5 text-gray-700;
      font: 400 16px/24px "Muller", sans-serif;
      &:before {
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background: $color-white-2;
        position: absolute;
        left: 10px;
        top: calc(50% - 1px);
        transform: translate3d(0,-50%,0);
        transition: all 0.2s ease;
      }
      
      &:after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        transform: translate3d(0,-50%,0);
        transition: all 0.2s ease;
        opacity: 0.5;
      }

      &--pay-for-classes {
        &:after {
          @extend .icon-card-default;
          left: 15px;
        }
      }
      &--available-classes {
        &:after {
          @extend .icon-play-2-default;
          left: 18px;
        }
      }
      &--my-lessons {
        &:after {
          @extend .icon-star-default;
          left: 15px;
        }
      }
      &--quiz {
        &:after {
          @extend .icon-quiz-default;
          left: 13px;
        }
      }
      &--settings {
        &:after {
          @extend .icon-settings-default;
          left: 15px;
        }
      }
      &--notifications {
        &:after {
          @extend .icon-bell-2-default;
          left: 15px;
        }
      }
      &--exit {
        &:after {
          @extend .icon-exit-2-default;
          left: 17px;
        }
      }
    }
  }
}