.page-not-found
  width: 100%
  height: 100vh
  position: relative
  padding: 93px 0 93px
  &:before,
  &:after
    content: ''
    position: absolute
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    z-index: 1
  &:before
    background-image: url('../img/bgs/bg-1.png')
    width: 284px
    height: 657px
    left: 0
    bottom: 0
  &:after
    background-image: url('../img/bgs/bg-2.png')
    width: 306px
    height: 586px
    right: 0
    bottom: 0
  &__container
    @include glass
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    z-index: 2
  &__title
    font: bold 100px/1.2 $font-default
    text-align: center
    color: $color-black
    margin: 0 0 16px
  &__descr
    font: 400 24px/1.2 $font-default
    color: rgba($color-black, 0.7)
    text-align: center
    margin: 0 0 50px
  &__btn
    @include btn-blue-big
    max-width: 303px
