
.custom_slider__arrows {
    position: absolute;
    right: 0;
    top: -36px;
    transform: translateY(-100%);
    display: flex;
    width: 88px;
    justify-content: space-between;
    align-items: center;
}

.custom_slider__arr {
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-color: #fff;
    border: none;
    &:focus {
      outline: none;
    }

    & span {
      display: none;
    }
}

.custom_slider__arr:first-child {
    background-image: url(../img/icons/slider-lt-arr.svg);
}

.custom_slider__arr:last-child {
    background-image: url(../img/icons/slider-rt-arr.svg);
}

